.container 
    button.icon-menu
        span
        span
        span
         
    .game 
        .game__header
            .username 
                span Player:
                p.game__username Noob
            .difficult 
                span Difficult:
                p.game__difficult Noob  
            .time
                span Score: 
                p.game__score 0
            .score
                span Time:
                p.game__time 0

        .game__body 
            .game__numbers 
                .game__num_one.game__num 0 
                .game__operator +
                .game__num_two.game__num 0

            .game__result 
                input.game__input(type="number")

            
