.container 
    .game 
        .game__header
            .username 
                span Player:
                p.game__username Noob
            .difficult 
                span Difficult:
                p.game__difficult Noob  
            .time
                span Score: 
                p.game__score 0
            .score
                span Time:
                p.game__time 0
