extends layout
block content   
    .game-wrapper
        include ../components/game-start.pug
        include ../components/gamemodes/game.pug
        include ../components/game-end.pug
        include ../components/game-menu.pug