.game-end
    .game-end__body
        a(href="/index.html"): .game-end__back: span back to menu 
        .game-end__info
            h2.game-end__title Time is over 
            .game-end__score 
                span Your score: 
                p 0
            .game-end__correct
                span Correct: 
                p 0
            .game-end__incorrect
                span Incorrect: 
                p 0
            a(href="/leaderboards.html"): button.game-end__btn.btn.game-end__leaderboards Leaderboards
            button.game-end__btn.btn.game-end__again Play Again

