.game-wrapper {
  // Start

  .game {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 3em;
    font-size: clamp(14px, 4vw, 25px);
  }
  .game__header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1em;

    margin-top: 1.5em;
    div {
      flex: 1 1 45%;
      text-align: center;
    }
  }

  .game__body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    gap: 2em;
  }
  .game__numbers {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 3em;
  }

  .game__num {
    transition: 0.3s;
  }

  .score {
    position: relative;
  }

  .game__numbers {
    position: relative;
  }
  
  .show-num {
    animation: show-num 0.5s;
  }

  @keyframes show-num{
    from {transform: scale(0);}
    to {transform: scale(1);}
  }

  .numbers-anim-plus {
    position: absolute;
    opacity: 0;
    color: green;
    top: 50%;
    left: 55%;
    transform: translate(50%, 50%);
    animation: number-anim 1s;
  }

  .numbers-anim-minus {
    position: absolute;
    opacity: 0;
    color: red;
    top: 50%;
    left: 55%;
    transform: translate(50%, 50%);
    animation: number-anim 1s;
  }

  @keyframes number-anim {
    0%{
      transform: translateY(-20px);
      opacity: 0;
    }
    50%{
      transform: translateY(0px);
      opacity: 1;
    }
    100%{
      transform: translateY(20px);
      opacity: 0;
    }
  }

  .pop {
    animation: pop 1s;
  }

  @keyframes pop {
    0% {transform: scale(1);}
    50% {transform: scale(1.25);}
    100% {transform: scale(1);}
  }

  .game__num,
  .game__operator,
  .game__input {
    font-size: clamp(30px, 7vw, 50px);
  }

  .game__result {
    box-shadow: 1px 1px 25px 10px #ffffff;
  }

  .game__input {
    text-align: center;
    width: 150px;
    height: 100px;
    border: 1px solid #ffecec;
    border-radius: 0;
    background-color: white;
    padding: 0 5px;
    outline: 0;
  }

  // End

  .game-end {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    color: white;

    background-color: $orangeColor;
    z-index: 100;
    transition: 0.5s;

    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
  .game-end__body {
    border: 1px solid white;
    padding: 2em;

    text-align: center;

    a {
      color: inherit;
    }
  }
  .game-end__back {
    text-decoration: underline;
    cursor: pointer;
    margin-bottom: 10px;
  }

  .game-end__btn {
    width: 100%;
    max-width: 250px;

    background-color: white;
    color: black;
    border-radius: 0;
    padding: 0.5em 3em;
    margin: 10px auto 0 auto;
  }

  ._show {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
  }
}

// Menu
.icon-menu {
  display: flex;
  position: absolute;
  z-index: 5;

  top: 20px;
  left: 20px;

  height: 24px;
  width: 30px;
  cursor: pointer;
  z-index: 7;
  background-color: inherit;
  border: 0;
}
.icon-menu span {
  transition: all 0.3s ease;
  top: calc(50% - 1px);
  left: 0px;
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: #000;
  border-radius: 5px;
}
.icon-menu span:first-child {
  top: 0px;
}
.icon-menu span:last-child {
  top: auto;
  bottom: 0px;
}
.icon-menu._active span {
  transform: scale(0);
}
.icon-menu._active span:first-child {
  transform: rotate(-45deg);
  top: 12px;
}
.icon-menu._active span:last-child {
  transform: rotate(45deg);
  top: 12px;
}

.game-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;

  color: white;

  background-color: $orangeColor;
  z-index: 101;
  transition: 0.5s;

  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  &__body {
    display: flex;
    flex-direction: column;
    gap: 1em;
  }
}
