$xlg: 1441px;
$lg: 998px;
$md: 768px;
$sm: 556px;
$xsm: 375px;

$backgroundColorMain: rgb(228, 228, 228);
$orangeColor: rgb(58, 61, 63);
$orangeColorTransparrent: rgba(58, 61, 63, 0.685);
$transition: 1s;